.float-btn-add {
    cursor: pointer;
    background: blue;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: fixed;
    box-shadow: rgba(0, 0, 255, 0.2) 0px 3px 8px 4px;
    bottom: 2rem;
    right: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: ease-in-out .3s;

    &:hover {
        transform: scale(1.05);
    }
}

// fiels form
.field {
    margin-top: .5rem;

    .input {
        background: var(--secondary_color);
        width: 100%;
        border: none;
        outline: none;
        padding: 1rem 1rem;
        margin-top: .4rem;
        font-size: .9rem;
    }

    label {
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.modal {
    .content {
        width: 70%;
        height: 80%;
        user-select: none;
        background: var(--primary_color);

        position: relative;

        padding: .5rem;

        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 13% auto 10%;
        gap: .5rem;

        .header {
            grid-column: span 3;
            padding: 0 2rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            .close {
                font-size: 2rem;
                cursor: pointer;
            }
        }

        .cont {
            grid-row: span 1;
            grid-column: span 3;
            overflow: auto;
            padding: 0 1rem;

            .toggle {
                margin-right: 1rem;
            }

        }

        .actions {
            grid-row: span 1;
            grid-column: span 3;

            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: .5rem;
            padding: 0 1rem;

            .btn {
                border: none;
                outline: none;
                padding: .7rem 1rem;
                border-radius: 4px;
                background: grey;
                color: white;
                font-weight: bold;
                cursor: pointer;

            }

            .btn-add {
                background: blue;
                color: white;
            }

            .btn-del {
                background: #F24C4C;
                color: white;

            }
        }

        .loading {
            position: absolute;
            top: 0;
            left: 0;

        }
    }
}

// swictch
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes progres_animation {
    0% {
        transform: translateX(-60%);
        width: 40%;
    }

    10% {
        width: 5%;
    }

    30% {
        transform: translateX(-60%);
        width: 30%;
    }

    50% {
        width: 20%;
    }

    100% {
        border-radius: 12px;
        transform: translateX(-150%);
        width: 38%;
    }
}